
/** NavBAR Elements and CSS **/
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
.navbar{
    height:100%;
    position:fixed;
    opacity:0.8;
    z-index:99999;
}

ul {
    font-family:Saira Extra condensed;
    overflow:hidden;
    list-style-type: none;
    margin-top:-8px;
    margin-left:-8px;
    padding: 70px 0px 0px 0px;
    width: 100px;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}

li a{
    opacity:1.0;
}

.contact{
    margin-left:-6px;
    transition: all 500ms ease-in-out;
}
li a:hover{
    opacity:1.0;
    background-color:rgba(0,0,0,0.7);
    color: #ffffff;
}
.home{
    margin-left:-2px;
    transition: all 500ms ease-in-out;
}
.news{
    margin-left:-2px;
    transition: all 500ms ease-in-out;
}
.team{
    margin-left:-2px;
    transition: all 500ms ease-in-out;

}

li a {
    text-align:center;
    font-size:27px;
    display: block;
    color: #ffffff;
    padding: 30px 15px;
    text-decoration: none;
}

/* Change the link color on hover */


/** MAXCAP LOGO DIV (NEED TO FIX CRITICAL ERROR) **/

.maxcap {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    border: 0px;
    padding: 0px;
    margin-top: -10px;
    margin-left: 100px;
    text-align: left;
    width: 1425px;
    transition: all 500ms ease;
}


.maxcap img{
    height:90%;
    width:100%;
}

.button2 i{
    margin-left:20px;
}
.button1 i{
    margin-left:20px;
}



/** "Unifying Customer and Service" **/
.fa-handshake-o{
    transition: all 600ms ease-in-out;
}
.description:hover .fa-handshake-o{
    color:#0DC88E;
}
.description{
    border-radius: 10px;
    background-color: #07273D;
    font-family:Saira Extra condensed;
    width: 400px;
    text-align:center;
    color:white;
    font-size:30px;
    margin-left:600px;
    margin-top:-195px;
    border: 2px solid #07273E;
    padding: 10px;
    position:absolute;
    transition: all 500ms ease; 
    overflow:hidden;
      
}

.description:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-color:#ffffff;
}
.description i{
    margin-left:15px;
}





/** MENU BLOCK With 2 buttons and Growth (NEED TO FIX CRITICAL ERROR) **/


.get{
    font-family:Saira Extra condensed;
    color: white;
    font-size:30px;
    background-color: rgba(7,39,61,0.6);
    width: 300px;
    height: 800px;
    border-radius: 10px;
    border: 1px solid #07273E;
    padding: 10px;
    margin-left: 1560px;
    margin-top: -986px;
    position:absolute;
    text-align:center;
    transition: all 900ms ease-in-out;
       
}

.get:hover{
    background-color: rgba(7,39,61,0.8);
    border-color:#ffffff;
}





/** Button 1 CSS (Explore) **/




.button1{
    border-color:#ffffff;
    padding:20px;
    position: relative;
    margin-top: 30px;
    border-radius:25px;
    border-color:#f77777;
    background-color:rgba(0,0,0,0.4);
    transition: all 500ms ease-in-out;
}


.button1:hover{
    background-color:rgba(0,0,0,0.9);
}

.button1 >a{
    transition: all 500ms ease-in-out;
    text-decoration:none;
    color: #ffffff;
    align-content: center;
}


.getstarty{
    font-size:25px;
    color:#000000;
    padding:5px;
    background-color:#ffffff;
    position: relative;
    margin-top:30px;
    border-radius:25px;
    border-color:#f77777;
    border:2px solid #ff7777;
    opacity:0.7;
    transition: all 800ms ease;
}

.get:hover .getstarty{
    color:#ffffff;
    background-color: #07273D;
    border-color:white;
    opacity:0.8;
}

/** "Getting Started" CSS **/

.titler{
    font-size:25px;
    color:#000000;
    padding:5px;
    background-color:#ffffff;
    position: relative;
    margin-top:-3px;
    margin-top:-3px;
    border-radius:25px;
    border-color:#f77777;
    border:2px solid #ff7777;
    opacity:0.7;
    transition: all 800ms ease;
}

.get:hover .titler{
    color:#ffffff;
    background-color: #07273D;
    border-color:white;
    opacity:0.8;
}

.ul i{
    margin-left:20px;
}



/** Button 2 (Introduction) **/



.button2{
    padding:20px;
    position: relative;
    margin-top: 40px;
    border-radius:25px;
    border-color:#f77777;
    background-color:rgba(0,0,0,0.5);
    opacity:0.8;
    transition: all 500ms ease;
}
.button2 > a {
  position: relative;
  color: #ffffff;
align-content:center;
  text-decoration: none;
}

.button2:hover{
    background-color: rgba(0,0,0,0.9);
    border-color:#ffffff;
}




/** Testing Block **/

.testingcool{
    font-family:Saira Extra condensed;
    padding:100px;
    color:white;
    margin-top:100px;
    margin-left:-8px;
    border-radius:10px;
    background-color: #07273D;
    font-size:40px;
    position:relative;
}

.testingcooler{
    font-family:Saira Extra condensed;
    padding:100px;
    color:white;
    margin-top:500px;
    margin-left:-8px;
    border-radius:10px;
    background-color: #07273D;
    font-size:40px;
}




/** Navbar logo **/

.logonav {
    background-color: none;
    padding: 0px;
    margin-top: -7px;
    margin-left: 0px;
    width: 90px;
    left:0;
    transition: all 700ms ease;
    opacity:0.7;
    position:fixed;
    z-index:999999;
}

.logonav img{
    height:100%;
    width:100%;
}
.logonav:hover{
    background-color:none;
    opacity:0.9;
}

.get .pword{
    margin-left: -83px;
    margin-top:25px;
    padding: 9px;
    border-radius:10px;
    border: 1px solid #f77777;
    background-color:white;
    width: 210px;
    position:absolute;
}

.get .usern{
    margin-left: 63px;
    margin-top: 30px;
    padding:9px;
    border-radius:10px;
    border: 1px solid #f77777;
    background-color:white;
    width:210px;
}

.lock i{
    font-size:35px;
    position:absolute;
    margin-left:-142px;
    margin-top:25px  
}
.circle i{
   font-size:28px;
    position:absolute;
    margin-left:-145px;
    margin-top:30px   
}


.submitter{
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #000000;
    margin-top: 85px;
    margin-left: 64px;
    width:150px;
    border: 2px;
    opacity:0.6;
    transition: all 500ms ease-in-out;
}
.submitter:hover{
    background-color:#205E6E;
    opacity:0.9;
    
}


.checkmark i{
    opacity:0;
    font-size:30px;
    position:absolute;
    margin-left:108px;
    margin-top:-40px;   
}


    

.fullbackground{
    overflow:hidden;
    width:50000px;
    height:940px;
}

.contactt{
    color:black;
    background-color:#ffffff;
    margin-top:30px;
    border-radius:60px;
    opacity:0.7;
    width:290px;
    font-size:25px;
    margin-left:-1px;
    padding:5px;
    border: 2px solid #f77777;
    transition: all 700ms ease-in-out;
}
.get:hover .contactt{
    background-color:#07273D;
    border-color:white;
    color:white;
    opacity:0.9;
}

.fa-facebook-square{
    margin-top:23px;
}
.facebook{
    position:absolute;
    margin-top:15px;
    opacity:0.7;
    align-content:center;
    padding:0px;
    background-color:#205E6E;
    width: 140px;
    height:80px;
    border-radius: 10px;
    border:2px solid #07273D;
    transition: all 600ms ease-in-out;
    
}
.facebook:hover{
    opacity:0.9;
    border:2px solid #ffffff;
}
.twitter{
    
    margin-left:156px;
    margin-top:15px;
    opacity:0.7;
    align-content:center;
    padding:0px;
    background-color:#205E6E;
    width: 140px;
    height:80px;
    border-radius: 10px;
    border:2px solid #07273D;
    transition: all 600ms ease-in-out;
}
.twitter:hover{
    opacity:0.9;
    border:2px solid #ffffff;
}
.fa-twitter-square{
    margin-top:-200px;
    margin-top:23px;
    
}

.fa-facebook-square{
    transition: all 500ms ease-in-out;
}
.facebook:hover .fa-facebook-square{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity:1.0;
}

.fa-twitter-square{
    transition: all 500ms ease-in-out;
}
.twitter:hover .fa-twitter-square{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity:1.0;
}
.fa-check{
    transition: all 500ms ease-in-out;
}
.submitter:hover .fa-check{
    color:#0DFF8E;
    opacity:1.0;
}

.fa-user-circle-o{
    transition: all 500ms ease-in-out;
}
.usercontainer:hover .fa-user-circle-o{
    color:#0DFF8E;
}

.fa-lock{
    transition: all 500ms ease-in-out;
}
.passcontainer:hover .fa-lock{
    color:#0DFF8E;
}

.videoplayer{
    border:3px solid #07273D;
    position:absolute;
    align-content: center;
    border-radius:50%;
    margin-top:-614.3px;
    margin-left:1330px;
    background-color:transparent;
    padding:25px;
    width:62.5px;
    height:62.5px;
    font-size:45px;
    opacity:0.7;
    transition: all 800ms ease-in-out;
    text-decoration:none;
}
.fa-play{
    margin-top:8px;
    margin-left:18px;
    transition: all 800ms ease-in-out;
}

.videoplayer:hover{
    background-color:#CE5451;
    opacity:0.9;
    border:3px solid white;
}
.videoplayer:hover .fa-play{
    transform: scale(1.3);
    color:#ffffff;
}


.arrowmover{
	color:white;
	border-style: solid;
	border-width: 5px 5px 0 0;
	content: '';
	height: 20px;
	position: relative;
	transform: rotate(-45deg);
	width: 20px;
	margin-top:-7px;
    margin-left:0px;
	-webkit-animation: arrowmover 3s infinite; /* Safari 4.0 - 8.0 */
    animation: arrowmover 3s infinite;
	transform: rotate(45deg);
}
a.arrowright{
	animation: fadein 1.5s ease-in alternate infinite;
}

@keyframes arrowmover{
	 0%   {left: 0px;}
    25%  {left: 230px;}
    75% {left:0px;}
    
}

@keyframes fadein{
    from { opacity: 1; }
    to { opacity: 0.4; }
}

/*************************************************************/

.arrowmoverz{
	color:white;
	border-style: solid;
	border-width: 5px 5px 0 0;
	content: '';
	height: 20px;
	position: relative;
	transform: rotate(-45deg);
	width: 20px;
	margin-top:-25px;
    margin-left:40px;
	-webkit-animation: arrowmoverz 3s infinite; /* Safari 4.0 - 8.0 */
    animation: arrowmoverz 3s infinite;
	transform: rotate(45deg);
}
a.arrowleft{
	animation: fadein 1.5s ease-in alternate infinite;
}

@keyframes arrowmoverz{
	 0%   {left: 0px;}
    25%  {left: 150px;}
    75% {left:0px;}

}

@keyframes fadein{
    from { opacity: 1; }
    to { opacity: 0.4; }
}

.arrowmoverzz{
	color:white;
	border-style: solid;
	border-width: 5px 5px 0 0;
	content: '';
	height: 20px;
	position: relative;
	transform: rotate(-45deg);
	width: 20px;
	margin-top:-25px;
    margin-left:20px;
	-webkit-animation: arrowmoverzz 3s infinite; /* Safari 4.0 - 8.0 */
    animation: arrowmoverzz 3s infinite;
	transform: rotate(45deg);
}
a.arrowmid{
	animation: fadein 1.5s ease-in alternate infinite;
}

@keyframes arrowmoverzz{
	 0%   {left: 0px;}
    25%  {left: 190px;}
    75% {left:0px;}

}

@keyframes fadein{
    from { opacity: 1; }
    to { opacity: 0.4; }
}


.lmao{
    border-radius:20px;
    padding:30px;
    background-color:rgba(0,0,0,0.3);
    width:263px;
    height:6px;
    margin-top: -70px;
    margin-left:1560px;
    border: 1px solid black;
    transition: all 800ms ease-in-out;
    
}
.lmao:hover{
    border:1px solid white;
    background-color:rgba(0,0,0,0.5);
}
.lmao:hover .arrowmoverzz{
    color:#0DFF8E;
}
.lmao:hover .arrowmoverz{
    color:#0DFF8E;
}
.lmao:hover .arrowmover{
    color:#0DFF8E;
}

.arrowmover{
    transition:all 700ms ease-in-out;
}
.arrowmoverz{
    transition:all 700ms ease-in-out;
}
.arrowmoverzz{
    transition:all 700ms ease-in-out;
}
