@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');


ul {
    background-color: white;
    position:absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    left:0;
    right:0;
    text-align:center;
    opacity:0.6;
}

.logo {
        margin-right:998px;
        background-color: #ffffff;
        float:right;
        display: block;
        color: black;
        text-align: center;
        padding:20px 71px 30px 65px;
        opacity:1.0;
        transition: all 400ms ease;
}


li a:hover {
    background-color: #07273D;
    color:white;
    font-weight: bold;
}

.logo:hover{
    background-color: #07273D;
    opacity:1.0;
}

li {
    float: right;   
}


.home{
    margin-top:0px;
    font-family:Saira Extra condensed;

    color: black;
    display: block;
    text-align: center;
    padding: 3px 90px 25px 10px ;
    text-decoration: none;
    font-size: 40px;
    transition: all 500ms ease;
    opacity:0.9; 
}



.contact{
    margin-top:0px;
    font-family:Saira Extra condensed;

    display: block;
    color: black;
    text-align: center;
    padding: 3px 90px 25px 10px ;
    text-decoration: none;
    font-size: 40px;
    transition: all 500ms ease;
    opacity:0.9; 
}

.news{
    margin-top:0px;
    font-family:Saira Extra condensed;

    display: block;
    color: black;
    text-align: center;
    padding: 3px 90px 25px 10px ;
    text-decoration: none;
    font-size: 40px;
    transition: all 500ms ease;
    opacity:0.9; 
}

.about{
    margin-top:0px;
    font-family:Saira Extra condensed;

    display: block;
    color: black;
    text-align: center;
    padding: 3px 90px 25px 10px ;
    text-decoration: none;
    font-size: 40px;
    transition: all 500ms ease;
    opacity:0.9; 
}

.maxcap {
    background-color: rgba(255,255,255,0.4);
    border: 0px;
    padding: 0px;
    margin-top: 230px;
    margin-left: -8px;
    text-align: left;
    width: 900px;
    left:0;
    transition: all 500ms ease;
}


.maxcap img{
    height:100%;
    width:100%;
}

.description{
    background-color: #07273D;
    font-family:Saira Extra condensed;
    width: 300px;
    text-align:center;
    color:white;
    font-size:20px;
    margin-left:270px;
    margin-top:-150px;
    border: 3px solid #ffffff;
    padding: 10px;
    position:absolute;
    transition: all 500ms ease; 
    overflow:hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;    
}

.description:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}

.description:hover{
    border-color:#07273D;
}

.get{
    font-family:Saira Extra condensed;
    color: white;
    font-size:25px;
    background-color:#07273D;
    width: 300px;
    border: 3px solid white;
    padding: 10px;
    margin-left: 1000px;
    margin-top: -665px;
    position:absolute;
    text-align:center;
    transition: all 500ms ease;
}
.get:hover{
    border-color:#07273D;
}
