body {
	font-family: Baskerville, serif;
	color: #303030;
	background-color: #fffcf4; 
}

a {
	color: #636363;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

img {
	margin: 0.7em;
	border: 0.5px solid black;
}

.main {
	width: 65ch;
	margin-left: 3em;
}

.meta-info {
	margin: 0;
}

.meta-info span {
	float: right;
}

.member {
	margin-bottom: 2em;
}

.member-info img {
	width: 5em;
	height: auto;
	float: left;
}

.member-info p {
	overflow: hidden;
}

