body {
	font-family: Baskerville, serif;
}

a {
	color: #002f7c;
}

h1 {
	font-size: 175%;
	margin: 5px 0 0 0;
}

img {
	width: 100px;
	height: auto;
	margin: 10px;
	border: 0.5px solid black;
}

.main {
	width: 85%;
	border-collapse: collapse;
}

.items {
	border-collapse: collapse;
}

