		body {
			/* image */
			background-image: url(assets/rome2.png);

			
			/* positioning */
			height: 100%;
			min-width: 1060px; 
			margin: 0;
			padding: 0;

			/* text */
			text-align: left;
			font-family: Verdana;
			font-size: small;
			color: #242729;
		}
		.wrapper {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			overflow: auto;
		}
		.footer {
			border-left: 2px solid silver;
			border-right: 2px solid silver;
			background: #242729;
			width: 1060px;
			margin: 0 auto;
			position: relative;
			line-height: 1.5em;
			padding: 1em;
			text-align: center;
		}
		.footer a{
			color: white;
			text-decoration: none;
		}
		.footer-info li{
			display: inline-block;
			padding-right: 1.5em;
		}
		.footer-info ul{
			list-style-type: none;
			display: inline-block;

		}
		.content {
			border-left: 2px solid silver;
			border-right: 2px solid silver;
			background: white;
			margin: 0 auto;
			position: relative;
			width: 1060px;
			padding: 1em;
			line-height: 1.5em;
			overflow: auto;
		}
		.pageDate {
			line-height: 1.5em;
		}
		.pageDesc {
			line-height: 1.5em;
			margin: 0.25em 0em 0.5em 0em;
		}
		h1 {
			border-bottom: 1px solid silver;
		}
		h1, h2, h3, h4, h5, h6 {
			margin: 0.5em 0 0 0;
			font-size: large;
			font-weight: normal;
			font-family: Helvetica;
		}
		h1, h2 {
			font-size: x-large;
			font-weight: bold;
		}
		img {
			width: 150px;
			height: auto;
			float:left;
			margin: 15px 15px 15px 15px;
			border: 1px solid #444;
		}
		.members{
			overflow: hidden;
		}
		.members p{
			margin: 5px;
		}
		.member-email{
			padding: 0 0 0.75em 0;
		}
		a {
			color: #0053B8;
		}
		.returnToTop{
			text-align: center;

		}
		.returnToTop a{
			color: #242729;
		}